/* [ START ] Main Rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100dvh;
	font-family: 'Figtree', sans-serif;
	background-color: #f4d04e;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
	line-height: 1.5;
}
/* [ END ] Main Rules */

/* [ START ] Main Section */
main {
	max-width: 24rem;
	padding: 1.438rem;
	background-color: #fff;
	border-radius: 1.25rem;
	border: 1px solid #111;
	box-shadow: 8px 8px 0px 0px #000;
}
@media screen and (max-width: 376px) {
	main {
		max-width: 100%;
	}
}
main article {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}
/* [ START ] Header */
main article header {
	overflow: hidden;
	border-radius: 0.625rem;
	display: flex;
	justify-content: center;
}
main article header img {
	display: block;
	min-width: max-content;
}
/* [ END ] Header */

/* [ START ] Section */
main article section {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	row-gap: 0.75rem;
}
main article section span {
	padding: 0.25rem 0.75rem;
	background-color: #f4d04e;
	border-radius: 0.25rem;
	color: #111;
	font-size: 0.875rem;
	font-weight: 800;
}
@media screen and (max-width: 376px) {
	main article section span {
		font-size: 0.75rem;
	}
}
main article section p:first-of-type {
	color: var(--Black, #111);
	font-size: 0.875rem;
	font-weight: 500;
}
@media screen and (max-width: 376px) {
	main article section p:first-of-type {
		font-size: 0.75rem;
	}
}
main article section h1 {
	color: var(--Black, #111);
	font-size: 1.5rem;
	font-weight: 800;
}
main article section h1:hover {
	transition: color 0.2s ease-in-out;
	color: #f4d04e;
	cursor: pointer;
}
@media screen and (max-width: 376px) {
	main article section h1 {
		font-size: 1.25rem;
	}
}
main article section p:last-of-type {
	color: var(--Grey, #7f7f7f);
	font-weight: 500;
}
@media screen and (max-width: 376px) {
	main article section p:last-of-type {
		font-size: 0.875rem;
	}
}
/* [ END ] Section */

/* [ START ] Footer */
main article footer {
	display: flex;
	column-gap: 0.75rem;
}
main article footer div {
	overflow: hidden;
	width: 2rem;
	height: 2rem;
}
main article footer div img {
	max-width: 100%;
}
main article footer p {
	align-self: center;
	color: #111;
	font-size: 0.875rem;
	font-weight: 800;
}
/* [ START ] Footer */

/* [ END ] Main Section */
